Options -Indexes

# Redirigir todo a la carpeta public
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]

<meta name="viewport" content="width=device-width, initial-scale=1">
